* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #548687;
    text-align: center;
    font-family: Arial, sans-serif;
}

.game-board {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5vmin;
    height: 60vmin;
    width: 60vmin;
}

.grid-box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffc7;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

#reset-game-btn, #new-game-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #ffffff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#game-message {
    color: #ffffc7;
    font-size: 5vmin;
}

.message-overlay {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hidden {
    display: none;
}
